<h1 class="text-center mb-4">My orders</h1>

<% if @user_for_orders.orders.empty? %>
  <div class="alert alert-warning mt-3">
    <h6 class="font-weight-bolder">Your order list is empty</h6>
    <p><%= link_to 'Check products added to your cart', cart_path(@current_cart) %>
  </div>
<% else %>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Order date</th>
      <th scope="col">Leave a review</th>
    </tr>
  </thead>
  <tbody>
<% @user_for_orders.orders.sort_by { |order| order.created_at }.reverse.each do |order| %>
      <% order.cart.cart_items.each do |cart_item| %>
          <tr>
            <td><%= order.id %></td> 
            <td><%= cart_item.product.title %></td> 
            <td><%= cart_item.product.price %></td>
            <td><%= cart_item.quantity %></td>
            <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
            <% if cart_item.product.reviews.exists?(user_id: @current_user.id) %>
              <% review = cart_item.product.reviews.find_by(user_id: @current_user.id) %>
              <td><%= link_to 'Update your opinion', edit_product_review_path(review.product_id, review.id) %></td>
            <% else %>
              <td><%= link_to 'Review the product', new_product_review_path(@current_user.id, :product_id => cart_item.product.id) %></td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
