<p id="notice"><%= notice %></p>

<h1 class="font-weight-bold">My wishlist</h1>

<% if @wl_user.wishlist_items.empty? %>
  <div class="alert alert-warning mt-3">
    <p class="font-weight-bolder">No products found</p>
  </div>
<% else %>
<div class="container">
  <% @wl_user.wishlist_items.each do |wishlist_item| %>
    <% if wishlist_item.product.availability > 0 && wishlist_item.product.user_id != @current_user.id && !wishlist_item.product.removed_from_seller %>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card" style="width: 100%;">
          <div class="row align-items-center">
            <div class="col-md-3">
              <% if wishlist_item.product.images.count!=0 %>
              <div class="p-4">
              <%= image_tag(wishlist_item.product.thumbnail(0)) %>
              </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div>
                  <h1 class="card-title"><%= link_to wishlist_item.product.title, wishlist_item.product %><% if wishlist_item.product.verified %><span style="color: green; font-size: 20px;">&#x2713;</span><% end %></h5>
                  <h5 class="card-text"><%= wishlist_item.product.description %></p>
                  <h3 class="card-text"><%= "€"+wishlist_item.product.price.to_s+"0" %></p>
                </div>
              </div>
            </div>
            <% if can? :buy, wishlist_item.product %>
            <div class="col-md-3">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <div>
                  <%= link_to cart_items_path(:product_id => wishlist_item.product.id), method: :post do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="cart"><path fill="none" d="M0 0h48v48H0zm36.62 12L31.1 22z"></path><path d="M22 18h4v-6h6V8h-6V2h-4v6h-6v4h6v6zm-8 18c-2.21 0-3.98 1.79-3.98 4s1.77 4 3.98 4 4-1.79 4-4-1.79-4-4-4zm20 0c-2.21 0-3.98 1.79-3.98 4s1.77 4 3.98 4 4-1.79 4-4-1.79-4-4-4zm-19.65-6.5c0-.09.02-.17.06-.24l1.8-3.26h14.9c1.5 0 2.81-.83 3.5-2.06l7.72-14.02L38.83 8h-.01l-2.21 4-5.51 10H17.07l-.26-.54L12.32 12l-1.9-4-1.89-4H2v4h4l7.2 15.17-2.71 4.9c-.31.58-.49 1.23-.49 1.93 0 2.21 1.79 4 4 4h24v-4H14.85c-.28 0-.5-.22-.5-.5z"></path></svg>
                  <% end %>
                  <br>
                  <br>
                  <%= link_to remove_from_wishlist_path(wishlist_item.product.id), method: :delete do %>
                    <svg xmlns="http://www.w3.org/2000/svg" id="heart" x="0" y="0" version="1.1" viewBox="0 0 29 29" xml:space="preserve"><path d="m14.854 6.083-.354.353-.354-.354a6.5 6.5 0 0 0-9.192 9.192l.354.354L14.5 24.82l9.192-9.192.354-.354a6.5 6.5 0 0 0-9.192-9.191z"></path><path d="m14.854 6.083-.354.353-.354-.354a6.5 6.5 0 0 0-9.192 9.192l.354.354L14.5 24.82l9.192-9.192.354-.354a6.5 6.5 0 0 0-9.192-9.191z"></path></svg>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>