<p id="notice"><%= notice %></p>

<h1 style="font-family: 'Poppins', sans-serif;">Products for sale</h1>

<%= form_with(url: products_path, method: "get", id: "search-form", class: "form-inline") do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :search, placeholder: "Search products...", class: "form-control", style: "width: 600px"%>
    <div class="input-group-append">
      <%= f.select :category, options_for_select(["Chains","Wood processing", "Plates", "Painting", "Vases"], params[:category]), {include_blank: "Category"}, id: "category-select", class: "custom-select" %>
    </div>
    <div class="input-group-append">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= form_with(url: products_path, method: "get", id: "order-by", class: "form-inline") do |s| %>
  <div class="input-group mb-3">
    <%= s.select :sort, options_for_select(["Title", "Price"], params[:sort]), {include_blank: "Order by"}, id: "sort-select", class: "form-select" %>
  </div>
<% end %>

<% if @products.empty? %>
  <div class="alert alert-warning mt-3">
    <p class="font-weight-bolder">No products found</p>
  </div>
<% else %>
  <div class="container">
  <% @products.each do |product| %>
    <% if product.availability > 0 && product.user_id != @current_user.id && !product.removed_from_seller %>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card" style="width: 100%;">
          <div class="row align-items-center">
            <div class="col-md-4">
              <% if product.images.count==1 %>
                <div class="p-4">
                  <%= image_tag(product.thumbnail(0)) %>
                </div>
              <% elsif product.images.count>1 %>
                <div id="carousel" class="carousel p-4" data-ride="carousel" data-interval="false">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <% for i in 2..product.images.count do %>
                      <li data-target=<% "#carousel"+i.to_s %> data-slide-to=<% (i-1).to_s %>></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag(product.thumbnail(0)) %>
                    </div>
                    <% for i in 1...product.images.count do %>
                    <div class="carousel-item">
                      <%= image_tag(product.thumbnail(i)) %>
                    </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div>
                  <h1 class="card-title"><%= link_to product.title, product %>    <% if product.verified %><span style="color: green; font-size: 40px;">&#x2713;</span><% end %></h1>
                  <h5 class="card-text"><%= product.description %></h5>
                  <h3 class="card-text"><%= "€"+product.price.to_s+"0" %></h3>
                  <% if product.availability <= 3 %>
                    <p style="color: red;">Remaining: <%= product.availability.to_s %></p>
                  <% elsif  product.availability > 3 && product.availability < 8 %>
                    <p style="color: orange;">Remaining: <%= product.availability.to_s %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <% if can? :buy, product %>
            <div class="col-md-2">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <div>
                  <%= link_to cart_items_path(:product_id => product.id), id: "cart-link", method: :post do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" id="cart"><path fill="none" d="M0 0h48v48H0zm36.62 12L31.1 22z"></path><path d="M22 18h4v-6h6V8h-6V2h-4v6h-6v4h6v6zm-8 18c-2.21 0-3.98 1.79-3.98 4s1.77 4 3.98 4 4-1.79 4-4-1.79-4-4-4zm20 0c-2.21 0-3.98 1.79-3.98 4s1.77 4 3.98 4 4-1.79 4-4-1.79-4-4-4zm-19.65-6.5c0-.09.02-.17.06-.24l1.8-3.26h14.9c1.5 0 2.81-.83 3.5-2.06l7.72-14.02L38.83 8h-.01l-2.21 4-5.51 10H17.07l-.26-.54L12.32 12l-1.9-4-1.89-4H2v4h4l7.2 15.17-2.71 4.9c-.31.58-.49 1.23-.49 1.93 0 2.21 1.79 4 4 4h24v-4H14.85c-.28 0-.5-.22-.5-.5z"></path></svg>
                  <% end %>
                  <br>
                  <br>
                  <% wl_user=Wishlist.find_by(user_id: @current_user.id) %>
                  <% found=false %>
                  <% wl_user.wishlist_items.each do |wl_item| %>
                    <% if wl_item.product.id==product.id %>
                      <% found=true %>
                      <% break %>
                    <% end %>
                  <% end %>
                  <% if !found %>
                    <%= link_to add_to_wishlist_path(product.id) do %>
                      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 512 512" id="heart"><path d="M349.6 64c-36.4 0-70.718 16.742-93.6 43.947C233.117 80.742 198.8 64 162.4 64 97.918 64 48 114.221 48 179.095c0 79.516 70.718 143.348 177.836 241.694L256 448l30.164-27.211C393.281 322.442 464 258.61 464 179.095 464 114.221 414.082 64 349.6 64zm-80.764 329.257l-4.219 3.873-8.617 7.773-8.616-7.772-4.214-3.869c-50.418-46.282-93.961-86.254-122.746-121.994C92.467 236.555 80 208.128 80 179.095c0-22.865 8.422-43.931 23.715-59.316C118.957 104.445 139.798 96 162.4 96c26.134 0 51.97 12.167 69.11 32.545L256 157.661l24.489-29.116C297.63 108.167 323.465 96 349.6 96c22.603 0 43.443 8.445 58.686 23.778C423.578 135.164 432 156.229 432 179.095c0 29.033-12.467 57.459-40.422 92.171-28.784 35.74-72.325 75.709-122.742 121.991z"></path></svg>
                    <% end %>
                  <% else %>
                    <%= link_to remove_from_wishlist_path(product.id), method: :delete do %>
                      <svg xmlns="http://www.w3.org/2000/svg" id="heart" x="0" y="0" version="1.1" viewBox="0 0 29 29" xml:space="preserve"><path d="m14.854 6.083-.354.353-.354-.354a6.5 6.5 0 0 0-9.192 9.192l.354.354L14.5 24.82l9.192-9.192.354-.354a6.5 6.5 0 0 0-9.192-9.191z"></path><path d="m14.854 6.083-.354.353-.354-.354a6.5 6.5 0 0 0-9.192 9.192l.354.354L14.5 24.82l9.192-9.192.354-.354a6.5 6.5 0 0 0-9.192-9.191z"></path></svg>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
<% end %>

<script>
  document.addEventListener("turbolinks:load", function(){
    const select=document.getElementById("sort-select");
    select.addEventListener("change", function(){
      document.getElementById("order-by").submit();
    });
  });
</script>