<p id="notice"><%= notice %></p>

<h1 class="font-weight-bold">Products for sale</h1>

<%= form_with(url: products_path, method: "get", id: "search-form", class: "form-inline") do |f| %>
  <div class="input-group">
    <%= f.text_field :search, placeholder: "Search products...", class: "form-control", style: "width: 300px"%>
    <div class="input-group-append">
      <%= f.select :category, options_for_select(["Collane", "Quadri", "Vasi"], params[:category]), {include_blank: "Category"}, id: "category-select", class: "custom-select" %>
    </div>
    <div class="input-group-append">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<% if @products.empty? %>
  <div class="alert alert-warning mt-3">
    <p class="font-weight-bolder">No products found</p>
  </div>
<% else %>
<table>
  <thead>
    <tr>
      <th><%= link_to "Title", products_path(sort: "title") %></th>
      <th>Description</th>
      <th><%= link_to "Price", products_path(sort: "price") %></th>
      <th><%= link_to "Category", products_path(sort: "category") %></th>
      <th>Availability</th>
      <th><%= link_to "Release date", products_path(sort: "published_at") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <% if product.category==@category || @category.blank? %>
        <tr>
          <td><%= product.title %></td>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.category %></td>
          <td><%= product.availability %></td>
          <td><%= product.published_at %></td>
          <td><%= link_to 'Show', product %></td>
          
          <% if can? :update, product %>
          <td><%= link_to 'Edit', edit_product_path(product) %></td>
          <% end %>
          <% if can? :destroy, product %>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if can? :buy, product%>
          <td><%=button_to "Add to cart", cart_items_path(:product_id => product.id)%></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Product', new_product_path %>
