
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Posted by:</strong>
   <%= @product.user.email%> <%= link_to 'View how its products have been reviewed', user_reviews_path(:user_id => @product.user.id) %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @product.availability %>
</p>

<% if can?(:manage, @product) %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>
<p>
<% (0...@product.images.count).each do |i| %>
  <%= image_tag(@product.thumbnail(i)) %>
<% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= link_to 'View product reviews', product_reviews_path(@product) %>
