<br><h1 style="font-family: 'Poppins', sans-serif; font-weight: 700;">My products</h1><br>

<% if @products.empty? %>
  <div class="alert alert-warning mt-3">
    <p class="font-weight-bolder">No products found</p>
  </div>
<% else %>
  <div class="container">
  <% @products.each do |product| %>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="card" style="width: 100%;">
          <div class="row align-items-center">
            <div class="col-md-4">
              <% if product.images.count==1 %>
                <div class="p-4">
                  <%= image_tag(product.thumbnail(0)) %>
                </div>
              <% elsif product.images.count>1 %>
                <div id="carousel" class="carousel p-4" data-ride="carousel" data-interval="false">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                    <% for i in 2..product.images.count do %>
                      <li data-target=<% "#carousel"+i.to_s %> data-slide-to=<% (i-1).to_s %>></li>
                    <% end %>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <%= image_tag(product.thumbnail(0)) %>
                    </div>
                    <% for i in 1...product.images.count do %>
                    <div class="carousel-item">
                      <%= image_tag(product.thumbnail(i)) %>
                    </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div>
                  <% if product.removed_from_seller%>
                    <p style="color:red; font-family: 'Poppins', sans-serif; font-weight: 200;font-size: 20px;">This product has been removed either by yourself or by an administrator to uphold the quality standards of the products being sold on our website.</p>
                  <% end %>
                  <h1 class="card-title" style="font-family: 'Poppins', sans-serif; font-weight: 400;"><%= link_to product.title, product %>    <% if product.verified %><span style="color: green; font-size: 40px;">&#x2713;</span><% end %></h1>
                  <h5 class="card-text" style="font-family: 'Poppins', sans-serif; font-weight: 300;"><%= product.description %></h5>
                  <h3 class="card-text"><%= "€"+product.price.to_s+"0" %></h3>
                  <% if product.availability == 0%>
                      <p style="color: green;font-family: 'Poppins', sans-serif; font-weight: 200;font-size: 20px;">There are no remaining pieces of this article, you sold them all!</p>
                  <% elsif product.availability <= 3 %>
                    <p style="color: red;font-family: 'Poppins', sans-serif; font-weight: 200;font-size: 20px;">Remaining: <%= product.availability.to_s %></p>
                  <% elsif  product.availability > 3 && product.availability < 8 %>
                    <p style="color: orange;font-family: 'Poppins', sans-serif; font-weight: 200;font-size: 20px;">Remaining: <%= product.availability.to_s %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <% if !product.removed_from_seller%>
            <div class="col-md-2">
              <div class="card-body d-flex flex-column justify-content-end align-items-center">
                <div>
                  <%= link_to edit_product_path(product) do %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#242424}</style><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                  <% end %>
                  <br>
                  <br>
                  <%= link_to cart_item_path(product), method: :delete do %>
                    <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#242424}</style><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>