<!DOCTYPE html>
<html>
  <head>
    <title>EMarketStall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Icone Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'nav' %>
    <%= javascript_pack_tag 'application' , 'data-turbolinks-track': 'reload'%>
    <%= stripe_javascript_tag%>
  </head>

  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>" id="logo">EMarketStall</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'My orders', user_orders_path(@current_user), class: 'nav-link' %>
              </li>
            <li class="nav-item">
                <%= link_to 'My cart', cart_path(@current_cart), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'My wishlist', show_wishlist_path(@current_user), class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'My products', user_my_products_path(current_user), class: 'nav-link ' %>
              </li>
              <li class="nav-item">
                <%= link_to 'My profile', my_profile_path, class: 'nav-link ' %>
              </li>
            <% end %>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Login', new_user_session_path, class: 'btn btn-success text-white' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <% if user_signed_in? %>
      <% if current_user.present? && current_user.provider == "google_oauth2" && (current_user.città.blank? || current_user.num_telefono.blank? || current_user.cap_residenza.blank? || current_user.via_residenza.blank?) %>
        <%= link_to 'To make purchases, you will necessarily need to enter other data in addiction to those provided by Google', edit_profile_path %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
