<h1> New review for <%= @product.title %> </h1>
<%= form_for([@product, @review], url: product_reviews_path(@product)) do |form| %>
  <%= form.hidden_field :current_user_id, value: @current_user.id %>
        <div class="field">
            <%= form.label :rating %>
            <%= form.select :rating, (1..5).to_a %>
        </div>

        <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content %>
        </div>
	<%= submit_tag 'Submit Review' %>
<% end %> 