<h1> New Review for <%= @product.title %> </h1>
<%= form_tag product_reviews_path(@product), class: 'form' do %>
	<label class="col-form-label"> Put your rating: </label>
	<%= select_tag 'review[rating]', options_for_select(1..5) %>
	<label class="col-form-label"> Content: </label>
	<%= text_area_tag('review[content]', 'Amazing product!', size: '50x5') %>
	<%= submit_tag 'Create Review' %>
<% end %>