
<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @user_email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product.title %>
</p>

<%= link_to 'Back', root_path %>