<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Moviegoer:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Movie:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Back', product_path %>