<p id="notice"><%= notice %></p>

<h1>Completa il tuo profilo</h1>

<%= form_with(model: @user, url: update_profile_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.label :città %>
    <%= form.text_field :città %>
  </div>

  <div class="field">
    <%= form.label :num_telefono, "Numero di telefono"%>
    <%= form.text_field :num_telefono %>
  </div>

  <p>Seleziona il tuo ruolo:</p>
  <div class="form-check">
    <%= form.radio_button :roles_mask, '1', checked: form.object.roles_mask.to_s == '1', class: "form-check-input" %>
    <%= form.label :roles_mask_seller, "Seller", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= form.radio_button :roles_mask, '2', checked: form.object.roles_mask.to_s == '2', class: "form-check-input" %>
    <%= form.label :roles_mask_buyer, "Buyer", class: "form-check-label" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Aggiorna il profilo' %>
  </div>
<% end %>
