<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-center font-weight-bold">My profile</h1>
          <p>Name: <%= @user.nome %></p>
          <p>Email: <%= @user.email %></p>
          <p>Phone number: <%= @user.num_telefono %></p>
          <p>Role: <%= @user.roles_mask %></p>
          <p>City of residence: <%= @user.città %></p>
          <p>Street of residence: <%= @user.via_residenza %></p>
          <p>Postal code: <%= @user.cap_residenza %></p>

          <%= link_to 'Modify profile', edit_profile_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>


